.c-p {
    display: flex;
    flex-direction: row;
}

.c {
    display: flex;
    flex-direction: row;
    margin-right: 3px;
}

.c-icon {
    margin-right: 2px;
}

.c-icon img {
    width: 30px;
    height: 30px;
}

.p-spell {
    display: flex;
    flex-direction: column;
}

.p-spell img {
    width: 15px;
    height: 15px;
}

.img-ban {
    width: 30px;
    height: 30px;
}